@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&display=swap');

*{
    margin:0;
    padding:0;
    
}

body{
    background: linear-gradient(to left, rgb(224, 226, 224), rgb(71, 138, 74));
    overflow-x: hidden; 
    
}

.bottom-background{
    background-color: white;
    font-size: 90px;
    font-family: 'Pacifico', sans-serif;
    color: rgb(14, 62, 14);
    padding-left: 270px;
    z-index: 1;
    position:relative;
    
}


#dot-arrive{
    display: flex;
    justify-content: flex-start; 
    align-items: flex-end; 
    margin-left: 80px;
    position: absolute; 
    top: 65px; 
    z-index: 2; 
     
}
    
#dot-arrive svg {
     width: 70px;  
     height: 70%; 
     margin-right: 150px; 
     fill:rgb(236, 43, 46);
        
}

.pizza-photo{
    
    height: 14cap;
    margin-left: 5px;
    position: absolute;
    display:flex;
    top: 0; 
    left: 10px; 
    z-index: 1;
}

.title{
    color:rgb(9, 9, 9);
    font-size: 25px;
    margin-top: 70px;
    margin-left: 80px;
    font-family: 'Pacifico', sans-serif;
    letter-spacing: 5px;
}

#lasagna{
    margin-top: 50px;
    margin-left: 110px;
    
}

#l-description{
    margin-top: 10px;
    margin-left: 70px;
    
}

#bruschetta{
    margin-top: 50px;
    margin-left: 180px;
}

.small-titles{
    color:black;
    font-size: 20px;
    text-decoration: underline;
    display: flex;
    flex-direction: row; 
    align-items: flex-start; 
}

#b-description{
    margin-top: 10px;
    margin-left: 60px;
}

.descriptions{
    color:black;
    font-size: 11px;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

#soup{
    margin-top: 50px;
    margin-left: 160px;
}

#seafood{
    margin-top: 40px;
    margin-left: 90px;
}

.small-titles2{
    color:black;
    font-size: 20px;
    text-decoration: underline;
    display: flex;
    flex-direction: row; 
    align-items: flex-start; 
}

.descriptions2{
    color:black;
    font-size: 11px;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

#s-description{
    margin-top: 10px;
    margin-left: 50px;
}

#p-description{
    margin-top: 10px;
    margin-left: 60px;
}

#focaccia{
    margin-top: 40px;
    margin-left: 135px;
}

#f-description{
    margin-top: 10px;
    margin-left: 50px;
}

#risotto{
    margin-top: 40px;
    margin-left: 210px;
}

#r-description{
    margin-top: 10px;
    margin-left: 30px;
}

#photo-right{
    margin-top: 270px;
    margin-left: 880px;
    border-radius: 50%;
    height: 8cap;
    position: absolute;
    display:flex;
    top: 0; 
    left: 10px; 
    z-index: 2;
}

#photo{
    width: 250px;  
    height: 230%; 
    margin-right: 150px; 
    border-radius: 50%;
}

#circle{
    background-color: black;
    margin-top: 280px;
    margin-left: 830px;
    border-radius: 50%;
    height: 20%;
    width: 9%;
    position: absolute;
    display:flex;
    top: 0; 
    left: 10px; 
    z-index: 1;
    border: 15px solid rgb(255, 255, 255); 
    background-color: transparent; 
}

.button{
    background-color: rgb(252, 89, 89);
    border: 1px solid rgb(6, 6, 6);
    width: 15%;
    height: 3.1cap;
    text-align: center;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    letter-spacing: 1.8px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 50px;
    margin-left: 920px;
    margin-top: 60px;
    float: left;
    position: absolute;
    display:flex;
    top: 0; 
    left: 10px; 
    z-index: 1;

}

.button:hover{
    background-color: rgb(240, 176, 86);
    color: black;
}

.mouse{
    display: flex;
    justify-content: flex-start; 
    align-items: flex-end; 
    margin-left: 1040px;
    margin-top: 37px;
    position: absolute; 
    top: 65px; 
    z-index: 2; 
    animation: jump 2s infinite;
}

.mouse svg{
    width: 30px;  
    height: 30%; 
    margin-right: 900px; 
    fill:rgb(7, 7, 7);
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-10px); 
    }
}
